<br>
<div class="container">
    <div class="box-calendar">
            <div class="clearfix"></div>
            <h2 class="section-heading">Calendario</h2>
            <p class="lead">Aquí aparecen todos los eventos relacionados con el Club.</p>
            <p class="lead">¡¡Anímate y particìpa con nosotros!!</p>
    </div>
 	<br>
    <div>  
		<iframe src="https://calendar.google.com/calendar/embed?src=pako2124%40gmail.com&ctz=Europe/Madrid" style="border: 1" width="700" height="600" frameborder="0" scrolling="no"></iframe>
    </div>

</div>







