<!-- Header -->
    <a name="about"></a>
    <div class="intro-header">
    </div>
        <!-- /.intro-header -->
        <!-- Container -->
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">
                            <li>
                                <a href="https://www.instagram.com/sportpadelclub/" class="btn btn-default btn-lg"><i class="fa fa-instagram fa-fw"></i> <span class="network-name">Instagram</span></a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/paco.serpa.7/?fref=ts" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>
                            </li>
                            <li>
                                <a href="https://twitter.com/clubsportpadel" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i><span class="network-name">Twitter </span></a>
                            </li>
                            <li>
                                <a href="https://www.youtube.com/watch?v=BTa52QJHrV4" class="btn btn-default btn-lg"><i class="fa fa-youtube fa-fw"></i><span class="network-name">Youtube </span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

  <!-- Page Content -->

	<a  name="services"></a>
    <div class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Un club familiar</h2>
                    <p class="lead">En nuestro club podrás practicar el deporte que te gusta en un ambiente insuperable.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="images/familia.jpg" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Diversión asegurada</h2>
                    <p class="lead">Aparte de nuestras pistas, podrás disfrutar de barra de bar con visionado en directo del mejor fútbol, junto con una zona recreativa con billar, futbolín y una diana.</p>
                </div>
                <div class="col-lg-5 col-sm-pull-6 col-sm-6">
                	<br><br><br><br>
                    <img class="img-responsive" src="images/interior2.jpg" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Sala insonorizada</h2>
                    <p class="lead">También ofrecemos una sala para la práctica de diferentes actividades como bailes de salón, kizomba, yoga, etc.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                	<br><br><br>
                    <img class="img-responsive" src="images/salabaile.jpg" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

	<a  name="contact"></a>
    <div class="banner">

        <div class="container">

            <div class="row">
                <div class="col-lg-3">
                    <h2>Padel en ESTADO PURO</h2>
                </div>
            </div>

        </div>
        <!-- /.container -->
