<div class="container">
    <div class="map">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3208.421025213606!2d-6.20848724935614!3d36.47154587991948!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMzbCsDI4JzE3LjYiTiA2wrAxMicyMi43Ilc!5e0!3m2!1ses!2ses!4v1452529413259" width="450" height="500" align=left></iframe>
    </div>
    <div class="box">
            <hr class="section-heading-spacer">
            <div class="clearfix"></div>
            <h2 class="section-heading">Ubicación</h2>
            <p class="lead">Podrás encontrarnos C/Chapistas nº1</p>
            <p class="lead">San Fernando(Cádiz)</p>
    </div>
</div>